.label {
-fx-text-fill: black;
-fx-padding: 2 2 2 2;
-fx-font: bold italic 13pt "LucidaBrightDemiBold";
}

#state{
-fx-background-color:  linear-gradient(blue, lightblue);
-fx-font: bold italic 30pt "LucidaBrightDemiBold";
-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
-fx-border-color: rgba(225, 255, 255, .80);
}

#settedState{
-fx-background-color:  linear-gradient(#FF7F00, #FF8C00);
-fx-font: bold italic 30pt "LucidaBrightDemiBold";
-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
-fx-border-color: rgba(225, 255, 255, .80);
}

.barbutton{
-fx-border-color: rgba(225, 255, 255, .80);
-fx-border-radius: 8;
-fx-padding: 6 6 6 6;
}

.table-hauptfenster{
-fx-padding: 15;
-fx-columns: 10;
}

.bearbeitungsfeld{
-fx-padding: 15;
}

.controlpanelbutton{
-fx-border-color:rgba(255,255,255, 1.00);
-fx-border-radius: 0;

}

.statusButton{
-fx-padding: 0;
-fx-border-radius: 0;
-fx-background-color:white;
}

.statusLabel{
-fx-background-color: null; 
-fx-border-width: 3; 
-fx-border-color: black grey grey black; 
-fx-border-style: solid line-join miter 45;
}

.statusbar{
-fx-background-color: lightgrey;
}



